<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    </configSections>
  <connectionStrings>
    <add name="blogContext" connectionString="data source=.;initial catalog=NewBlogProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>